.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  .card-header img {
    width: 100%;
    min-height: 150px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-top: 10px;
    flex: 1;
    
  }
  
  .card-body p {
    font-size: 13px;
    margin: 0 0;
  }
  
  .user {
    display: flex;
    justify-content: flex-start;
    gap: 18px;
  }
  
  .user-info h5 {
    margin: 0;
  }
  
  .user-info small {
    color: #545d7a;
  }
  
  .user:nth-child(1) {
    padding-bottom: 10px;
  }